/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
#home-content {
    text-align: center;
    font-size: 48px;
 }



/* CSS for the hamburger credit to this guy https://codepen.io/g13nn/pen/eHGEF */
/* Can add position attribute to indicate where it opens*/

.menu {z-index:1000000; font-weight:bold; font-size:0.8em; width:10%; background:#ffffff;  text-align:center; position: fixed; right: 45px; top: 75px; border: groove;} 
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu li:hover{display: block;    background:#ffffff; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#666;}
.menu ul li a:hover {  color: #666; text-decoration:none;}
.menu a{text-decoration:none; color:#666;}
.menu a:hover{text-decoration:none; color:#666;}




body {
  font-family: 'Noto Sans', sans-serif;
	margin:0;
	width:100%;
	height:100vh;
  	background:#ffffff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.page-banner {
  font-family: verdana;
  font-size: 400%;
  padding: 10px;
  background: maroon;
  margin-top: -20px;
}
        
#banner_style{
  color:white;
  text-decoration:none;
}
        
#banner_style:hover{
  color:#C9C6C6;
  text-decoration:none;
}

.hamburger {
  background: none;
  position:absolute;
  line-height:45px;
  top: 45px;
  right: 20px;
  color: white;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross {
  background:none;
  position:absolute;
  top: 55px;
  right: 10px;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color: white;
  border:0;
  font-size:3.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}


.glyphicon-home{
  color:white; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}
header{display:inline-block; font-size:12px;}
a{color:#336699;}
th {text-align:center;}
tr {text-align:center;}

.form{
  border-radius: 5px;
  background-color: #f2f2f2;
}

.sortable {
    width: 1000px;
}

.sortable td {
    cursor: pointer;
}


#hidden {
    display: none;
}
