// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

#course-content {
    margin-left: 25px;
}

#course-create-content {
    margin-left: 25px;
}

#course-list-content {
    margin-left: 25px;
    text-align: center;
}

.sortable {
    width: 1000px;
}

.sortable td {
    cursor: pointer;
}

.courseButton {
    width: 50%;
}