// Place all the styles related to the Instructor controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

#instructor-content {
    background-color: white;
    font-size: 36px;
}

#instructor-create-content {
    margin-left: 25px;
}


#main-content {
    padding: 20px;
}

li {
    list-style-type: none;
    text-align: center; 
}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

/* 
   Table style, imported from: http://codepen.io/anon/pen/ZeGbyO
*/

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #333;
}

table {
  text-align: left;
  line-height: 40px;
  border-collapse: separate;
  border-spacing: 0;
  border: 2px solid maroon;
  width: 500px;
  margin: 0px auto;
  border-radius: .25rem;
}

tr {
  // text-transform: uppercase;
}

thead tr:first-child {
  background: maroon;
  color: #fff;
  border: none;
}

th:first-child,
td:first-child {
  padding: 0 25px 0 25px;
}

thead tr:last-child th {
  border-bottom: 3px solid #ddd;
}

tbody tr:hover {
  background-color: rgba(237, 28, 64, .1);
  cursor: default;
}

tbody tr:last-child td {
  border: none;
}

tbody td {
  border-bottom: 1px solid #ddd;
}

td:last-child {
  text-align: left;
  padding-right: 10px;
}

.button {
  color: #aaa;
  cursor: pointer;
  vertical-align: middle;
}

.edit:hover {
  color: #0a79df;
}

.delete:hover {
  color: #dc2a2a;
}

.group {
  margin: auto;
  width: 1040px;
  text-align: center;
}
.group-element {
  display: inline-block;
  height: 200px;
  margin: auto;
  width: 340px;
}

.grid-element:last-child {
  margin-bottom: 2cm;
}

.clear {
  margin-bottom: 2cm;
  clear: both;
}